<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cespenar.thechallenger" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateChallengeActivity"
            android:label="@string/create_challenge" >
        </activity>
        <activity
            android:name=".CreateChallengeFinalizeActivity"
            android:label="@string/success" >
        </activity>
        <activity
            android:name=".BrowseChallengesActivity"
            android:label="@string/title_activity_browse_challenges" >
        </activity>
    </application>

</manifest>
