<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cespenar.thechallenger" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateChallengeActivity"
            android:label="@string/create_challenge" >
        </activity>
        <activity
            android:name=".CreateChallengeFinalizeActivity"
            android:label="@string/success" >
        </activity>
        <activity
            android:name=".BrowseChallengesActivity"
            android:label="@string/discover_challenges" >
        </activity>
        <activity
            android:name=".ChallengeActivity"
            android:label="@string/title_challenge_details" >
        </activity>
        <activity
            android:name=".MyChallengesActivity"
            android:label="@string/my_challenges" >
        </activity>
        <activity
            android:name=".CreatedChallengesActivity"
            android:label="@string/my_challenges" >
        </activity>
        <activity
            android:name=".ChallengeParticipationsActivity"
            android:label="@string/my_participations" >
        </activity>
        <activity
            android:name=".RankingsActivity"
            android:label="@string/rankings" >
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".ChallengeResponseActivity"
            android:label="@string/title_challenge_response" >
        </activity>
        <activity
            android:name=".UserActivity"
            android:label="@string/title_user_profile" >
        </activity>
    </application>

</manifest>
